header{

    color: white;
    font-style: normal;
    text-align: left;
    justify-content: center;
    padding: 50px;
    padding-bottom: 100px;
    background-color: black;
}
h1{
    font-size: 50px;
}
nav{
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;

}
a{
    color: white;
    font-style: normal;
}
div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
div>div{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

@media (min-width: 300px) and (max-width: 600px) {
    nav{
        display:flex;
        flex-direction: column;
        align-items: center
    }
}