.float{
    background-color: lightseagreen;
    border-radius: 5px;
    height: 80px;
    width: 130px;
    margin: 10px;
    padding: 10px;
}
#float1{
    float: left;
}
#float2{
    float:right;
    
}