@font-face {
    font-family: "eracake";
    src: url('./fuentes/eracake/Eracake.ttf');
}
img{
    width: 100%;
    height: 50%;
}
body{
    background-color: blanchedalmond;

}
/*-------------------------------arriba---------------------------*/
header{
    position: sticky;
    top: 0;
    transition: 0.6s;
}
nav{
    padding-top: 20px;
    text-align: center;
    background-image: url("./imagenes/menu-plantas.jpg");
}
.menu{
    border-style: solid;
    border-color: white;
    transition: 0.6s;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

/*---------------------------TEXTO-----------------------*/
h1{
    font-family: "eracake";
    color: white;
    font-size: 70px;
    text-align: center;
}
h2{
    font-family: "eracake";
}

ul a{
    padding: 10px;
    top:10px;
    text-decoration: none;
    color: black;
    font-family: "eracake";
}
.link{
    color: black;
    text-decoration: none;
}
/*----------------------CONTENT----------------------*/
#lista{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
.tit-animal{
    margin-top: 80px;
    align-items: center;
    color: dimgray;
    height: 70px;
    font-weight: bold;
    font-size: 20px;
    background-color: skyblue;
    border-style: solid;
    border-color: blue;
}
#tortuga{
    width: 30%;
    height: 100%;
    background-color: lightgreen;
    border-style: solid;
    border-color: gray;
}
#tortuga:hover{
    border-color: whitesmoke;
    border-style: solid;
    transition: 0.6s;
    border-width: 20px;
}
#nutria{
    width: 30%;
    height: 100%;
    background-color: pink;
    border-style: solid;
    border-color: gray;
}
#nutria:hover{
    border-color: whitesmoke;
    border-style: solid;
    transition: 0.6s;
    border-width: 20px;
}
#murcielago{
    width: 30%;
    height: 160%;
    background-color: lavender;
    border-style: solid;
    border-color: gray;
}
#murcielago:hover{
    border-color: whitesmoke;
    border-style: solid;
    transition: 0.6s;
    border-width: 20px;
}
/*tabla*/
.texto-d{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns:50% 40%;
    grid-template-rows: 55% 55%;
    grid-template-areas:
                "conv pob"
                "vul dec";
}
.conv{
    border-style: solid;
    border-color: white;
    grid-area: conv;
}
.pob{
    border-style: solid;
    border-color: white;
    grid-area: pob;
}
.vul{
    border-style: solid;
    border-color: white;
    grid-area: vul;
}
.dec{
    border-style: solid;
    border-color: white;
    grid-area:dec;
}
#butLik{
    margin-left: 33%;
    margin-top: 30px;
}
#butLik > button{
    width: 600px;
    height: 150px;
    background-color: pink;
    border-style: dashed;
    border-color: purple;
    border-radius: 10px;
    font-family: eracake;
    color:purple;
    font-size: 60px;
}
.imagen-caretta{
    width: 40%;
}
/*--------------------------FINAL------------------*/
.final{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#biblografia{
    padding-top: -1000px;
    text-align: left;
}
#img-licencia{
    width: 160px;
    height: 5%;
}
body{cursor: url("./imagenes/cursor.png"), auto;}
a{Cursor:url("./imagenes/brujula.png"), auto;}
img{Cursor:url("./imagenes/patron.png"), auto;}
button{Cursor:url("./imagenes/la-satisfaccion-del-cliente.png"), auto}
/*-----------------------------------RESPONSIVE-----------------------*/
@media (max-width: 800px) and (min-width: 300px){
    /*---------------TOP-------------------------*/
    #top{
        display: none;
    }
    nav{
        height: 93px;
        background-image: none;
    }
    .menu{
        justify-content: space-evenly;
        width: 85%;
        border-style: solid;
        border-color: white;
        z-index: 6;
        background-image: url("./imagenes/menu-plantas.jpg");
    }
    #intro{
        display: none;
    }
    #tit{
        display: none;
    }
    /*-----------------CONTENT------------------*/
    #lista{
        display: flex;
        flex-wrap: wrap;
    }
    img{
        width: 300px;
        height: 180px;
    }

    .tit-animal{
        font-size: 15px;
        height: 35px;
    }

    #murcielago{
         width: 80%;
         background-color: lavender;
         border-style: solid;
         border-color: gray;
     }
    #tortuga{
        width: 80%;
        background-color: lightgreen;
        border-style: solid;
        border-color: gray;
    }
    #nutria{
        width: 80%;
        background-color: pink;
        border-style: solid;
        border-color: gray;
    }
    #butLik{
        margin-left: 2%;
    }
}