header{
    height: 600px;
    background-image: url("./img/fondo-top-bar.jpg");
    text-align: center;
    align-content: center;

}
h1{
    color: purple;
    font-weight: bolder;
    font-size: 60px;
    background-color: rgb(255 255 255 / 0.5);
}

