#figure1{
    font-weight: bold;
    font-size: 50px;
    color: black;
    border: 1px;
    border-style: solid;

    border-color: darkblue;
    background-color: darkslategray;

}
#figure2{
    border: 2px;
    border-style: solid;

    border-color: black;
    background-color: indianred;
}
#figure3{
    border: 2px;
    border-style: solid;

    border-color: black;
    background-color: lightgoldenrodyellow;
    padding: 10%;
}